table{
    width: 100%;
    border: 1px solid black;
}
th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
button{
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

div{
    margin: 20px;
    border: 1px solid gray;
}

input{
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
    margin: 2%;
}