div{
    margin: 20px;
    border: 1px solid gray;
}
input{
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
    margin: 2%;
}
button{
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
}